	{% extends 'Base.html' %}
	
	{% block css %}
		<style type="text/css">
			th, td {
				text-align: center;
			}
		</style>
	{% endblock %}
	
	{% block contenido %}
		<h3>
			<span class="label label-warning">Listado</span> Usuarios Activos - Inactivos
		</h3>
		
		<br />
		<div class="row">
			<div class="col-md-12">
				<table class="table table-bordered responsive">
					<thead>
						<tr>
							<th>Nombre</th>
							<th>Usuario</th>
							<th>AS400</th>
							<th>Empresa</th>
							<th>Cargo</th>
							<th>Permiso</th>
							<th>Acciones</th>
						</tr>
					</thead>
					<tbody>
						{% if consulta|length >= 1 %}
							
							{% for info in consulta %}
								<tr>
									<td>{{ info.getApellido|e }} - {{ info.getNombre|e }}</td>
									<td>{{ info.getUsuario|e }}</td>
									<td>{{ info.getUsuarioRr|e }}</td>
									<td>{{ info.getEmpresa.getNombre|e }}</td>
									<td>{{ info.getCargo.getNombre|e }}</td>
									<td>{{ info.getPermiso.getNombre|e }}</td>
									<td>
										
										{% if sesion.permisos.Usuarios.eliminar == 1 %}
											<a href="javascript:;" class="btn btn-red btn-icon">Eliminar <i class="entypo-cancel"></i></a>
										{% endif %}
									</td>
								</tr>
							{% endfor %}
							
						{% else %}
						
						{% endif %}
					</tbody>
				</table>
			</div>
		</div>
		
		
	{% endblock %}