	{% extends 'Base.html' %}
	
	{% block css %}
		<style type="text/css">
			th {
				font-weight: bold;
				text-align: center;
			}
			.control-label, .panel-title {
				font-weight: bold;
			}
			.error {
				font-family: verdana;
				font-size: 10px;
				font-weight: bold;
				color: red;
			}
		</style>
	{% endblock %}
	
	{% block contenido %}
		<div class="row">
			<div class="col-md-12">
				
				<div class="panel panel-primary" data-collapsed="0">
					<div class="panel-heading">
						<div class="panel-title">
							Nuevo Permiso
						</div>
					</div>
		
					<div class="panel-body">
						
						<form action="javascript:;" role="form" method="POST" name="formulario" id="formulario" class="form-horizontal form-groups-bordered">
		
							<div class="form-group">
								<label for="field-1" class="col-sm-3 control-label">Nombre del Rol</label>
								<div class="col-sm-5">
									<input type="text" name="nombre" class="form-control" placeholder="Nombre del Rol">
								</div>
							</div>
							
							<div class="form-group">
								<label for="field-1" class="col-sm-3 control-label">Selección de Modulos</label>
								<div class="col-sm-5">
									<table class="table table-bordered table-responsive">
										<tbody>
											<tr>
												<td style="text-align: center; font-weight: bold;">Modulo</td>
												<td style="text-align: center; font-weight: bold;">
												
													<select id="modulo">
														<option value="">Escoja una opción</option>
														<optgroup>
															{% if consultaModulos|length >= 1 %}
																
																{% for modulo in consultaModulos %}
																	<option value="{{ modulo.getId|e }}">{{ modulo.getNombre|e }}</option>
																{% endfor %}
																
															{% else %}
																<option value="">No hay modulos para Visualizar</option>
															{% endif %}
														</optgroup>
													</select>
												
												</td>
											</tr>
											<tr>
												<td style="text-align: center; font-weight: bold;">Acceso</td>
												<td style="text-align: center; font-weight: bold;">
													<select id="acceso">
														<option value="">Escoja una opción</option>
														<optgroup>
															{% if consultaAccesos|length >= 1 %}
																
																{% for acceso in consultaAccesos %}
																	<option value="{{ acceso.getId|e }}">{{ acceso.getNombre|title|e }}</option>
																{% endfor %}
																
															{% else %}
																<option value="">No hay Accesos para Visualizar</option>
															{% endif %}
														</optgroup>
													</select>
												</td>
											</tr>
											<tr>
												<td colspan="2" style="text-align: center; padding-top: 15px;">
													<button type="button" id="agregar" class="btn btn-blue btn-icon">Agregar <i class="entypo-retweet"></i></button>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
							
							<div class="form-group">
								<label for="field-1" class="col-sm-3 control-label">Modulos Seleccionados</label>
								<div class="col-sm-7">
									<table class="table table-bordered table-responsive">
										<thead>
											<tr>
												<th>Modulo</th>
												<th>Permiso</th>
											</tr>
										</thead>
										<tbody id="tablaInfo">
											
										</tbody>
									</table>
								</div>
							</div>
							
							<div class="form-group">
								<div class="col-sm-offset-3 col-sm-5">
									<button type="submit" class="btn btn-default">Guardar</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	{% endblock %}
	
	{% block script %}
		
{#
	/**
	 * Script peticion.js
	 *
	 * Genera el script correspondiente para la peticion
	 * ajax para la validacion del formulario, en este caso
	 * se genera una validacion adicional para determinar
	 * que se tengan los permisos correspondientes de 
	 * escritura para ejecutar la peticion
	 * 
	 * @permiso escritura
	 * @param RUTA_APP
	 * @url /Permisos/Nuevo/permisoJs/peticion.js
	 */
#}
		{% if sesion.permisos.Permisos.escritura == 1 %}
			<script type="text/javascript" src="{{ RUTA_APP|e }}/Permisos/Nuevo/permisoJs/peticion.js"></script>
		{% endif %}
{# -------------------------------------------------------------- #}

{#
	/**
	 * Script {{ script|raw }}
	 *
	 * Muestra el script creado para generar la validacion del
	 * lado del usuario en el cual genera una capa adicional de
	 * seguridad e integridad de los datos que se ingresan en
	 * el formulario
	 *
	 * @permiso escritura
	 * @param script
	 */
#}
		{% if sesion.permisos.Permisos.escritura == 1 %}
			{{ script|raw }}
		{% endif %}
		
	{% endblock %}