	{% extends 'Base.html' %}
	
	{% block css %}
		<style type="text/css">
			.control-label, .panel-title {
				font-weight: bold;
			}
		</style>
	{% endblock %}
	
	{% block contenido %}
		<div class="row">
			<div class="col-md-12">
				
				<div class="panel panel-primary" data-collapsed="0">
					<div class="panel-heading">
						<div class="panel-title">
							Nuevo Usuario
						</div>
					</div>
		
					<div class="panel-body">
						
						<form role="form" class="form-horizontal form-groups-bordered">
		
							<div class="form-group">
								<label for="field-1" class="col-sm-3 control-label">Usuario</label>
								<div class="col-sm-5">
									<input type="text" name="usuario" class="form-control" id="field-1" placeholder="Usuario">
								</div>
							</div>
							
							<div class="form-group">
								<label for="field-1" class="col-sm-3 control-label">Nombres</label>
								<div class="col-sm-5">
									<input type="text" name="nombre" class="form-control" id="field-1" placeholder="Nombres del Usuario">
								</div>
							</div>
							
							<div class="form-group">
								<label for="field-1" class="col-sm-3 control-label">Apellidos</label>
								<div class="col-sm-5">
									<input type="text" name="apellido" class="form-control" id="field-1" placeholder="Apellidos del Usuario">
								</div>
							</div>
							
							<div class="form-group">
								<label for="field-1" class="col-sm-3 control-label">Cédula</label>
								<div class="col-sm-5">
									<input type="number" name="cedula" class="form-control" id="field-1" placeholder="Cédula del Usuario">
								</div>
							</div>
							
							<div class="form-group">
								<label for="field-1" class="col-sm-3 control-label">Usuario RR (AS400)</label>
								<div class="col-sm-5">
									<input type="text" name="as400" class="form-control" id="field-1" placeholder="Usuario as400">
								</div>
							</div>
							
							<div class="form-group">
								<label for="field-1" class="col-sm-3 control-label">Correo</label>
								<div class="col-sm-5">
									<input type="email" name="correo" class="form-control" id="field-1" placeholder="Correo Corporativo">
								</div>
							</div>
		
							<div class="form-group">
								<label class="col-sm-3 control-label">Empresa</label>
								<div class="col-sm-5">
									<select name="empresa" class="form-control">
										<option value="">Seleccione una Opción</option>
										<optgroup>
											{% if empresas|length >= 1 %}
												
												{% for empresa in empresas %}
													<option value="{{ empresa.getId|e }}">{{ empresa.getNombre|e }}</option>
												{% endfor %}
											
											{% else %}
												<option value="">No hay empresas registradas</option>	
											{% endif %}
										</optgroup>
									</select>
								</div>
							</div>
							
							<div class="form-group">
								<label class="col-sm-3 control-label">Cargo</label>
								<div class="col-sm-5">
									<select name="cargo" class="form-control">
										<option value="">Seleccione una Opción</option>
										<optgroup>
											{% if cargos|length >= 1 %}
												
												{% for cargo in cargos %}
													<option value="{{ cargo.getId|e }}">{{ cargo.getNombre|e }}</option>
												{% endfor %}
											
											{% else %}
												<option value="">No hay cargos registrados</option>	
											{% endif %}
										</optgroup>
									</select>
								</div>
							</div>
							
							<div class="form-group">
								<label class="col-sm-3 control-label">Permisos</label>
								<div class="col-sm-5">
									<select name="permiso" class="form-control">
										<option value="">Seleccione una Opción</option>
										<optgroup>
											{% if permisos|length >= 1 %}
												
												{% for permiso in permisos %}
													<option value="{{ permiso.getId|e }}">{{ permiso.getNombre|e }}</option>
												{% endfor %}
											
											{% else %}
												<option value="">No hay Permisos registrados</option>	
											{% endif %}
										</optgroup>
									</select>
								</div>
							</div>
		
							<div class="form-group">
								<div class="col-sm-offset-3 col-sm-5">
									<button type="submit" class="btn btn-default">Guardar</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	{% endblock %}